/* Estilos comunes a varios elementos */

.root{
    -fx-font-size: 18px;
    -fx-font-family: "Tahoma";
    -fx-background: #A78732;
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.slider{
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}
 
.borders{
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: 5;
}

/* Estilos específicos para cada sección */
#vbox-aux1{
	-fx-spacing: 2;
}

#hbox1{
	-fx-spacing: 5;
	-fx-alignment: bottom-left;
}

#hbox2{
	-fx-spacing: 10;
	-fx-alignment: center-left;
}

#hbox2 .button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
 
#hbox2 .button2{
    -fx-text-fill: #c10000;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#hbox3{
	-fx-spacing: 12;
}

#hbox3 .separator{
	-fx-orientation: vertical;
	-fx-pref-height: 15;
	-fx-pref-width: 1;
}

#hbox4{
	-fx-spacing: 10;
}

#hbox4 .progress-indicator{
	-fx-progress-color: red;	
}

#vbox-final{
	-fx-spacing: 20;
	-fx-padding: 30 10 30 10;
	-fx-alignment: top-left;
}

