.primero{
    background-color: cyan;
    width: 60%;
    height: 60px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
    
}
.segundo{
    background-color: cyan;
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-around;
}
.primero div, .segundo div{
    background-color:darkorange;
    color: white;
    width: 15%;    
    text-align: center;
    max-height: 20px;
}
