
html{
    min-height: 100%;
    font-family: sans-serif;/*buscar letra más parecida*/
}
body{
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 100%;
    background-color: white;
}

#barraMenu{
    position:sticky;
    top: 0;
    height: 100%;
    background-color:#212529 ;
    width: 33em;
    font-family: inherit;
}
 #lista{
    font-family: inherit;
    color: white;
}
#busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#2d2e39 ;
    margin:0;
    height: 6.5em;
}
#busqueda div{
    color: #6b7073;
    margin-left: 2em;    
}
#lupa{
    margin-right: 2em;
    background-image: url(images/lupa.png);
    height: 1em;
    width: 1em;
    background-size: cover;
}

#lista ul{
    padding: 3em 0;
    margin: 0;
    background-color:#24252d; 
    
}
#lista ul li:first-child{
    border-top: 0;
}
#lista ul li{
    display: flex;
    align-items: center;
    border-top: solid 1px #1a1b20;
    width: 80%;
    margin-left: 2em;
    list-style-type: none;
    line-height: 4em;
}
#lista ul li:hover{
    color: #525d9d;
}
a{
   text-decoration: none; 
   color: inherit;
}
.flecha{
    margin-left: 6em;
    background-image: url(images/flecha.png);
    height: 2em;
    width: 2em;
    background-size: cover;
}
#freatured{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: inherit;
    font-weight: 500;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    
}
#morados{
    display: flex;  
    justify-content: space-between;
  
}
.icono{
    margin: 0.2em;
    max-width: 0.8em;
    max-height: 0.8em;
    
}
.morado{
    background-color: #535ba0;
}
.oscuro{
    background-color: #2d2e39;
}
#lineaFreatured{
    width: 100%;
    border:1px solid #2D2E39;
    margin: 0;
}
#avion{
    position: relative;
    background-image: url(images/featured_post_01.jpg);
    margin: 0 2em ;
    height: 220px;
    background-size: cover;
}
#frase{
    font-family: inherit;
    color:white;
    margin:  1em 2em;
}
#parteDerecha{
    width: 100%;
}
#cabecera{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 6.5em;
    background-color:#525d9d ;
}
#cabecera p{
    
    color: white;
    font-family: inherit;
    margin-right: 3em;
    font-size: 36px;
    font-weight: bold;
}
#menu{
    
    height: 2em;
    width: 2em;
    background-image: url(images/menu.png);
    background-size: contain;
    margin-left:3em;
    
    
}
#contenedor{
    position: relative;
    margin: 6em 6em 0 6em;
    min-height: 100%;

}
#portada{
    position: relative;
    height:500px;
    background-image: url(images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#presentacion{
    position: absolute;
    margin: 3em;
    width: 22em;
    padding: 3em;
    background-color: white;
}
#presentacion h4{
    margin: 0px;
    display: block;
    font-size: 38px;
    font-weight: bold;
    font-family: inherit;
    color: #31323a;
}
em{
    color: #525d9d;
}
#presentacion h6{
    margin:1.25em 0 1.25em 0;
    font-size: 15px;
    color: #AAAAAA;
    font-weight: normal;
}
p{
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.5em;
}
.cubreBoton{
    margin: 2.5em 0 1.5em 0;
}
.boton{
    border: 2px solid #525d9d;
    color: #525d9d;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
}
.boton:hover{
    background-color: #525d9d;
    color: white;
    transition: all 0.4s;
}
hr{
    border: 1.5px solid #afafaf31;
    background-color: #afafaf31;
    margin-top: 100px;
    margin-bottom: 100px;
}
#cuadricula{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 37.5em;
}

.cuadrado{
    height: 50%;
    width: 30%;
    text-align: center;
    background-color:#eaebef;
    border: 2px solid white;
}  
.iconoCuadricula{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 1.5em 0 ;
    background-size: cover;
    background-repeat: no-repeat;
}
.cuadrado p{
    padding-left: 1em;
    padding-right: 1em;
}
.cuadrado p strong{
    color: #007bff;
}
    .cuadrado:hover {
    background-color: #525d9d;
    color: white;
    transition: all 0.4s;
}
.cuadrado:hover p{ 
    color: white;
    transition: all 0.4s;
}
.primero .iconoCuadricula{
    background-image: url(images/icon_01.png);
}
.primero:hover .iconoCuadricula{
    background-image: url(images/icon_hover_01.png);
    transition: all 0.4s;
}
.segundo .iconoCuadricula{
    background-image: url(images/icon_02.png);
}
.segundo:hover .iconoCuadricula{
    background-image: url(images/icon_hover_02.png);
    transition: all 0.4s;
}
.tercero .iconoCuadricula{
    background-image: url(images/icon_03.png);
}
.tercero:hover .iconoCuadricula{
    background-image: url(images/icon_hover_03.png);
    transition: all 0.4s;
}
.cuarto .iconoCuadricula{
    background-image: url(images/icon_04.png);
}
.cuarto:hover .iconoCuadricula{
    background-image: url(images/icon_hover_04.png);
    transition: all 0.4s;
}
.quinto .iconoCuadricula{
    background-image: url(images/icon_05.png);
}
.quinto:hover .iciconoCuadriculaono{
    background-image: url(images/icon_hover_05.png);
    transition: all 0.4s;
}
.sexto .iconoCuadricula{
    background-image: url(images/icon_06.png);
}
.sexto:hover .iconoCuadricula{
    background-image: url(images/icon_hover_06.png);
    transition: all 0.4s;
}

    
