AnchorPane{
	-fx-padding: 10px;
	-fx-background-color: #123456;
	-fx-position-shape: true;
}
TableView{
	-fx-pref-width: 410px;
	-fx-background-color: #D6EAF8;
}
TableColumn{
	-fx-fill-width: true;
	-fx-text-alignment: center;
	
}
#mail{
	-fx-pref-width: 150px;
}
#edad{
	-fx-pref-width: 50px;
}
.table-row-cell{
	-fx-halignment: center;
	-fx-opacity: 0.7;
}